$font-family-base: "Lucida Grande", "Trebuchet MS", Helvetica, Arial, sans-serif;
$headings-font-family: "Palatino", Georgia, "Times New Roman", Times, serif;
$fa-font-path: "../node_modules/font-awesome/fonts";

@import '~bootstrap/scss/bootstrap';
@import '~font-awesome/scss/font-awesome';
@import '../css/pygments.css';
@import 'header';

.page {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;

  img {
    max-width: 100%;
  }
}

div.highlight {
  background-color: $gray-lighter;
  padding: 1em;
  margin-bottom: 1rem;

  pre {
    margin: 0;
  }
}

ul.projects {
  @include list-unstyled;
  margin-top: 1rem;

  > li {
    margin-top: 1rem;
    border-top: 1px solid $gray-light;
    padding-top: 1rem;
  }
}

ol.toc {
  list-style-type: disc;
  ol {
    list-style-type: disc;
  }
}

.blog-post {
  margin-bottom: 1rem;

  .meta {
    font-style: italic;
    color: $gray;
  }
}

.resume-jobs .title, .resume-education .title {
  font-size: 1.2rem;
}

.adsbygoogle {
  margin-bottom: 1rem;
}
// don't print ads
@media print {
  .adsbygoogle {
    display: none;
  }
}

.image {
  margin-bottom: 1rem;

  img {
    @include center-block();
    border: 1px solid black;
  }
}

@include media-breakpoint-up(sm) {
  .image {
    @include pull-right();
    margin-bottom: .1rem;
    margin-left: 1rem;
  }
}

form legend {
  font-family: $headings-font-family;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%; // widescreen format, 16:9
  padding-top: 25px; // fixed height of YouTube chrome
  height: 0;

  iframe, object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.table-sm-print {
  @media print {
    th,
    td {
      padding: $table-sm-cell-padding;
    }
  }
}
