$font-family-base: "Lucida Grande", "Trebuchet MS", Helvetica, Arial, sans-serif;
$headings-font-family: "Palatino", Georgia, "Times New Roman", Times, serif;
$fa-font-path: "../node_modules/font-awesome/fonts";
@import '~bootstrap/scss/bootstrap';
@import '~font-awesome/scss/font-awesome';

.logo {
  margin: 1.5rem auto;
}

.page {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

ul.projects {
  @include list-unstyled;
  margin-top: 1rem;

  > li {
    margin-top: 1rem;
    border-top: 1px solid $gray-light;
    padding-top: 1rem;
  }
}

