$font-family-base: "Lucida Grande", "Trebuchet MS", Helvetica, Arial, sans-serif;
$headings-font-family: "Palatino", Georgia, "Times New Roman", Times, serif;
$fa-font-path: "../node_modules/font-awesome/fonts";

@import '~bootstrap/scss/bootstrap';
@import '~font-awesome/scss/font-awesome';
@import '../css/pygments.css';
@import 'header';

.page {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

ul.projects {
  @include list-unstyled;
  margin-top: 1rem;

  > li {
    margin-top: 1rem;
    border-top: 1px solid $gray-light;
    padding-top: 1rem;
  }
}

ol.toc {
  list-style-type: disc;
  ol {
    list-style-type: disc;
  }
}

.blog-post .meta {
  font-style: italic;
  color: $gray;
}

.resume-jobs .title, .resume-education .title {
  font-size: 1.2rem;
}

.adsbygoogle {
  margin-bottom: 1rem;
}


