{%- macro humanize_timespan(project, month=false) -%}
  {%- if project.start_date and project.end_date %}
    {%- if month %}
      {%- if project.start_date.month == project.end_date.month and
            project.start_date.year == project.end_date.year -%}
        {{ project.start_date.strftime("%b, %Y") }}
      {%- else -%}
        {{ project.start_date.strftime("%b, %Y") }} to {{ project.end_date.strftime("%b, %Y") }}
      {%- endif %}
    {%- else %}
      {%- if project.start_date.year == project.end_date.year -%}
        {{ project.start_date.year }}
      {%- else -%}
        {{ project.start_date.year }} to {{ project.end_date.year }}
      {%- endif %}
    {%- endif %}
  {%- elif project.start_date %}
    {%- if month -%}
      since {{ project.start_date.strftime("%b, %Y") }}
    {%- else -%}
      since {{ project.start_date.year }}
    {%- endif -%}
  {%- elif project.end_date %}
    {%- if month -%}
      until {{ project.end_date.strftime("%b, %Y") }}
    {%- else -%}
      until {{ project.end_date.year }}
    {%- endif %}
  {%- endif %}
{%- endmacro %}

{%- macro project_repo_icon(project) -%}
  {%- if project.repository %}
    {% if project.repository.host == "github.com" %}
      <i class="fa fa-lg fa-github"></i>
    {% elif project.repository.host == "gitlab.com" %}
      <i class="fa fa-lg fa-gitlab"></i>
    {% elif project.repository.host == "bitbucket.com" %}
      <i class="fa fa-lg fa-bitbucket"></i>
    {% else %}
      <i class="fa fa-lg fa-code"></i>
    {% endif %}
  {% endif %}
{% endmacro %}


