{% extends "layout.html" %}
{% from "macros/blog.html" import render_blog_post, disqus_comments %}
{% block title %}{{ this.title }} | {{ super() }}{% endblock %}

{% block head_extra %}
  <link rel="alternate" type="application/atom+xml" title="{{ this.parent.title }}" href=" {{ '/blog/feed.xml'|url }}" />
  {% if this.summary %}
  <meta name="description" content="{{ this.summary }}" />
  {% endif %}
{% endblock%}

{% block body %}
  {{ render_blog_post(this) }}
  {{ disqus_comments(this) }}
{% endblock %}
