<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags always come first -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <!-- Generated CSS, including Bootstrap -->
  <link rel="stylesheet" href="{{ '/static/gen/styles.css'|asseturl }}">
  <!-- Other things -->
  <link rel="icon" type="image/png" href="{{ '/static/images/favicon.png'|asseturl }}" />
  <title>{% block title %}David Baumgold{% endblock %}</title>
  {% block head_extra %}{% endblock %}
</head>
<body>
  <div class="container">
    <div class="row">
      <header class="col-sm-3">
        <a href="{{ '/'|url }}" class="logo-link">
          <img class="display-1 center-block logo" width="120px" alt="DB"
               src="{{ '/static/images/db.png'|asseturl }}"
               srcset="{{ '/static/images/db.svg'|asseturl }}"
          />
          <div class="h5 text-xs-center font-weight-bold">David Baumgold</div>
        </a>
        <ul class="list-inline text-xs-center contact-icons">
          <li class="list-inline-item">
            <a href="mailto:david@davidbaumgold.com" title="david@davidbaumgold.com">
              <i class="fa fa-lg fa-envelope"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://twitter.com/singingwolfboy" title="@singingwolfboy">
              <i class="fa fa-lg fa-twitter"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://github.com/singingwolfboy" title="@singingwolfboy">
              <i class="fa fa-lg fa-github"></i>
            </a>
          </li>
        </ul>

        <hr />

        <nav class="container">
          <ul class="nav">
            {% for href, title in [
              ['/blog', 'Blog'],
              ['/projects', 'Projects'],
              ['/tutorials', 'Tutorials'],
              ['/resume', 'Resume'],
              ['/names', 'Names'],
            ] %}
              <li class="nav-item">
                <a class="nav-link {% if this.is_child_of(href) %}active{% endif
                %}"
                   href="{{ href|url }}">{{ title }}</a>
              </li>
            {% endfor %}
          </ul>
        </nav>

        <hr />

        <ul class="list-unstyled container">
          <!-- <li>Training &amp; Consulting</li> -->
          <li><a href="https://quietstrengthhypnosis.com/">Hypnosis</a></li>
        </ul>

      </header>
      <div class="col-sm-9 page">
        {% block body %}{% endblock %}
      </div>
    </div>
  </div>
  {# uncomment to include generated JavaScript, including Bootstrap
  <script type=text/javascript src="{{ '/static/gen/app.js'|asseturl }}" charset="utf-8"></script>
  #}
  {% set google_analytics = config.values.PROJECT.get("google-analytics") %}
  {% if google_analytics %}
  <script>
    window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
    ga('create', '{{ google_analytics }}', 'auto');
    ga('send', 'pageview');
  </script>
  <script async src='https://www.google-analytics.com/analytics.js'></script>
  {% endif %}
  {% block scripts %}{% endblock %}
</body>
</html>
