<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags always come first -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <!-- Generated CSS, including Bootstrap -->
  <link rel="stylesheet" href="{{ '/static/gen/styles.css'|asseturl }}">
  <!-- Other things -->
  <link rel="icon" type="image/png" href="{{ '/static/images/favicon.png'|asseturl }}" />
  <title>{% block title %}David Baumgold{% endblock %}</title>
  {% block head_extra %}{% endblock %}
</head>
<body>
  <a class="sr-only sr-only-focusable" href="#start-of-content">
    Skip to main content
  </a>
  <div class="container">
    <div class="row">
      <div class="sidebar col-md-3">
        <div class="fixed-container">
          <div class="fixed-sidebar">
            <header class="center-block h-card">
              <div class="row">
                <div class="logo-block col-xs-3 col-md-12">
                  <a href="{{ '/'|url }}" class="logo-link">
                    <img class="center-block logo u-logo" alt="DB"
                         src="{{ '/static/images/db.png'|asseturl }}"
                         srcset="{{ '/static/images/db.svg'|asseturl }}"
                    />
                  </a>
                </div>
                <div class="contact-block col-xs-9 col-md-12">
                  <a href="{{ '/'|url }}" class="name-link u-url" rel="me">
                    <div class="h5 text-xs-center font-weight-bold p-name">David Baumgold</div>
                  </a>
                  <ul class="list-inline text-xs-center contact-icons">
                    <li class="list-inline-item">
                      <a href="mailto:david@davidbaumgold.com" title="Email: david@davidbaumgold.com" rel="me" class="u-email">
                        <i class="fa fa-lg fa-envelope"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="https://twitter.com/singingwolfboy" title="@singingwolfboy on Twitter" rel="me">
                        <i class="fa fa-lg fa-twitter"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="https://github.com/singingwolfboy" title="@singingwolfboy on GitHub" rel="me">
                        <i class="fa fa-lg fa-github"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </header>

            <hr class="hidden-sm-down" />

            <a class="nav-menu-toggle" href="#nav-menu" data-toggle="collapse" data-target="#nav-menu" aria-expanded="false" aria-controls="nav-menu">
              Menu
            </a>

            <nav id="nav-menu" class="collapse nav-menu">
              <ul class="nav nav-first">
                {% for href, title in [
                  ['/blog', 'Blog'],
                  ['/projects', 'Projects'],
                  ['/tutorials', 'Tutorials'],
                  ['/book', 'Book'],
                  ['/resume', 'Résumé'],
                  ['/names', 'Names'],
                ] %}
                  <li class="nav-item">
                    <a class="nav-link {% if this.is_child_of(href) %}active{% endif
                    %}"
                       href="{{ href|url }}">{{ title }}</a>
                  </li>
                {% endfor %}
              </ul>
              <ul class="nav">
                {% for href, title in [
                  ['/training', 'Training'],
                  ['/consulting', 'Consulting'],
                ] %}
                 <li class="nav-item">
                    <a class="nav-link {% if this.is_child_of(href) %}active{% endif
                    %}"
                       href="{{ href|url }}">{{ title }}</a>
                  </li>
                {% endfor %}
                <li class="nav-item">
                  <a class="nav-link" href="https://www.quietstrengthhypnosis.com/">Hypnosis</a>
                </li>
              </ul>

              <hr class="hidden-md-up" />
            </nav>
          </div>
        </div>
      </div>
      <div id="start-of-content" class="sr-only"></div>
      <div class="col-md-9 page">
        {% block body %}{% endblock %}
      </div>
    </div>
  </div>
  <script type=text/javascript src="{{ '/static/gen/app.js'|asseturl }}" charset="utf-8"></script>

  {% set google_analytics = config.values.PROJECT.get("google-analytics") %}
  {% if google_analytics %}
  <script>
    window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
    ga('create', '{{ google_analytics }}', 'auto');
    ga('send', 'pageview');
  </script>
  <script async src='https://www.google-analytics.com/analytics.js'></script>
  {% endif %}
  {% block scripts %}{% endblock %}
</body>
</html>
