{% extends "page.html" %}

{% block body %}
  <h1>{{ this.title }}</h1>
  {% for image in this.attachments.images %}
    <div class="image">
      <a href="{{ image|url }}">
        <img src="{{ image.thumbnail(300)|url }}" alt="{{ image.description }}" />
      </a>
    </div>
  {% endfor %}
  {{ this.body }}

  <form action="{{ this.form_url }}" method="post" target="_blank" novalidate>
    <fieldset>
      <legend>{{ this.form_title }}</legend>
      <div class="form-group">
        <label for="mce-EMAIL">Email Address</label>
        <input type="email" class="form-control" value="" name="EMAIL" id="mce-EMAIL" tabindex="1" required>
      </div>
      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_9e4cd83444e2bdb2f5f6d87ba_24172e9820" tabindex="-1" value=""></div>
      <input type="submit" value="Subscribe" name="subscribe" tabindex="2" class="btn btn-primary">
    </fieldset>
  </form>
{% endblock %}
