{% extends "page.html" %}

{% block body %}
  <h1>{{ this.title }}</h1>
  {% for image in this.attachments.images %}
    <div class="image"><img src="{{ image|url }}" /></div>
  {% endfor %}
  {{ this.body }}

  <form action="//davidbaumgold.us13.list-manage.com/subscribe/post?u=9e4cd83444e2bdb2f5f6d87ba&amp;id=24172e9820" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <fieldset>
      <legend>Head First Git mailing list</legend>
      <div class="form-group">
        <label for="mce-EMAIL">Email Address</label>
        <input type="email" value="" name="EMAIL" id="mce-EMAIL" class="required email">
      </div>
      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_9e4cd83444e2bdb2f5f6d87ba_24172e9820" tabindex="-1" value=""></div>
      <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary">
    </fieldset>
  </form>
{% endblock %}
