{% extends "layout.html" %}
{% from "macros/project.html" import humanize_timespan, project_repo_icon %}
{% block title %}Projects | {{ super() }}{% endblock %}
{% block body %}
  <h1>Projects</h1>
  {{ this.description }}
  {% set projects = site.query('/projects').include_undiscoverable(True).all() %}
  <ul class="projects">
  {% for project in projects %}
    <li id="{{ project._id }}">
      <h2><a href="{{ project.website }}">{{ project.name }}</a></h2>
      {{ project.description }}
      <ul class="list-inline">
        <li class="list-inline-item">
          <a href="{{ project.repository }}" title="Repository">
            {{ project_repo_icon(project) }}
          </a>
        </li>
        <li class="list-inline-item">
          <a href="{{ project.documentation }}" title="Documentation">
            <i class="fa fa-lg fa-book"></i>
          </a>
        </li>
        <li class="list-inline-item font-italic">
          {{ humanize_timespan(project) }}
        </li>
      </ul>
    </li>
  {% endfor %}
  </ul>
{% endblock %}
