{% extends "layout.html" %}
{% block title %}{{ this.title }} | {{ super() }}{% endblock %}

{% block head_extra %}
  {% if this.meta_description %}
  <meta name="description" content="{{ this.meta_description }}" />
  {% endif %}
{% endblock%}

{% set google_adsense = config.values.PROJECT.get("google-adsense") %}
{% block body %}
  <h1>{{ this.title }}</h1>
  {{ this.intro }}
  <ul class="toc">
  {% for item in this.body.toc recursive %}
    <li>
      <a href="#{{ item.anchor }}">{{ item.title }}</a>
      {% if item.children %}<ul>{{ loop(item.children) }}</ul>{% endif %}
    </li>
  {% endfor %}
  </ul>
  {% if this.toc_ad_id and google_adsense %}
    <ins class="adsbygoogle"
      style="display:block"
      data-ad-client="{{ google_adsense }}"
      data-ad-slot="{{ this.toc_ad_id }}"
      data-ad-format="auto"></ins>
    <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
  {% endif %}
  {{ this.body }}
  {% if this.footer_ad_id and google_adsense %}
    <ins class="adsbygoogle"
      style="display:block"
      data-ad-client="{{ google_adsense }}"
      data-ad-slot="{{ this.footer_ad_id }}"
      data-ad-format="auto"></ins>
    <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
  {% endif %}
{% endblock %}
{% block scripts %}
  {% if google_adsense %}
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  {% endif %}
{% endblock %}
